/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "home";
@import "project";
@import "bugs";

body{
  background-color: LightGray;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: white;
  background: black;
  text-align: left;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.align-left{
  text-align: left
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.text-field {
  border: 2px solid rgb(142, 151, 138);
  border-radius: 5px;
}
